*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
body{
    background-color: aliceblue;
}

header{
    background-color: rgb(31, 151, 191);
    padding: 16px 5px;
    display: flex;
    justify-content: center;
    color: white;
    align-items: center;
}

header h1{
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
}

header button{
    margin-left: 16px;
    padding: 16px;
    background-color: #fff;
    color: rgb(31, 151, 191);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
}

.container{
    border: 1px solid rgb(31, 151, 191);
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 16px;
    position: relative;
    display: none;
    
}
form{
    text-align: center;
    margin-bottom: 24px;
}

form input{
    padding: 8px;
}

form button{
    background-color: rgb(31, 151, 191);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

ul li{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid rgb(31, 151, 191);
    border-radius: 10px;
    padding: 20px 50px;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, .1);
    color: rgb(31, 151, 191);
    margin-bottom: 16px;
    cursor: pointer;
    
    
}

ul li img{
    max-width: 30px;
}

#btn-fechar{
    position: absolute;
    right: 0;
    top:0;
    translate: 15px -15px;
    background: none;
    border: none;
}

#btn-fechar img{
    max-width: 50px;
}

.finalizado{
    text-decoration: line-through;
}
